# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Miscellaneous
.sass-cache/
.connect.lock
.coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Environment variables
unsplash.env
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Temporary files
*.tmp
*.temp
*.bak

# Testing
coverage/
*.lcov

# Cypress
cypress/videos
cypress/screenshots

# Angular specific
.angular/
angular.json
/src/environment/
src/**/*.js
src/**/*.js.map

# Prettier specific
.prettierignore

# Other files you might want to ignore
*.iml
