<footer class="footer" role="contentinfo">
  <a href="https://portifolio-rnn.vercel.app/" target="_blank" aria-label="Visite o Portifólio de Renan Fochetto. Este link abrirá em uma nova aba." alt="Link para o Portifólio de Renan Fochetto">
    <img src="assets/images/logo.png" alt="Logo da RNN" class="logo-footer" aria-label="Logo da RNN">
  </a>
  <a href="https://github.com/renanfochetto" target="_blank" rel="noopener noreferrer" aria-label="Perfil do Github de Renan Fochetto">
    <i class="fa-brands fa-github" aria-hidden="true" aria-label="GitHub"></i>
  </a>
</footer>
