.loading {
  text-align: center;
  color: black;
  margin: 20px 0;
  font-size: 2rem;
  text-shadow:
    -1px -1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px 1px 0px #ffffff;
}

.loading div {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-shadow:
    -1px -1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px 1px 0px #ffffff;
}

