@font-face {
  font-family: 'Bison';
  src: url('./assets/fonts/Bison-Bold(PersonalUse).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Bison', sans-serif;
}
