@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'Bison';
  src: url('./assets/fonts/Bison-Bold(PersonalUse).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Bison', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
