<header class="header">
  <h4 class="logo">Visual Quotes</h4>
  <div class="seletor-container">
    <span class="lang-option" [class.active]="idiomaSelecionado === 'pt'">PT</span>
    <label class="toggle-button">
      <input type="checkbox" (change)="atualizarIdioma()" [checked]="idiomaSelecionado === 'en'">
      <span class="slider"></span>
    </label>
    <span class="lang-option" [class.active]="idiomaSelecionado === 'en'">EN</span>
  </div>
</header>


<section class="container">
  <div class="frase-container">
    <div *ngIf="!isLoading && !fraseTraduzida" class="titulo">{{ titulo }}</div>
    <div *ngIf="isLoading" class="loading">
      <i class="fa-solid fa-spinner fa-spin-pulse"></i>
    </div>
    <div *ngIf="fraseTraduzida && !isLoading" class="frase">"{{ fraseTraduzida }}"</div>
    <div *ngIf="fraseTraduzida && !isLoading" class="container-botoes">
      <div class="botoes">
        <i class="fa-solid fa-heart" *ngIf="isLiked" (click)="toggleLike()"></i>
        <i class="fa-regular fa-heart" *ngIf="!isLiked" (click)="toggleLike()"></i>
        <i class="fa-solid fa-copy" *ngIf="!copiado" (click)="copiarFrase()" ></i>
        <i class="fa-solid fa-check" *ngIf="copiado"></i>
        <i class="fa-solid fa-share" (click)="share()"></i>
      </div>
      <div class="autor">{{ autor }}</div>
    </div>
  </div>
  <button (click)="gerarFraseDoDia()" class="button" role="button">{{ botaoTexto }}</button>
</section>
<footer class="footer">
  <a href="https://github.com/renanfochetto" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
  <img src="/assets/logo.png" alt="Logo" class="logo-footer">
</footer>
