.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.frase, .titulo {
  text-align: center;
  width: 85%;
  font-size: 3rem;
  color: #FF8551;
}

.autor {
  font-size: 1.3rem;
  font-style: italic;
  text-decoration: underline;
  width: 55%;
  text-align: right;
  color: #af9bb4;
  margin-top: 2rem;
}

.botao {
  margin-top: 3rem;
}
