.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frase-container {
  background-color: rgba(255, 255, 255, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 4rem;
  padding: 3rem 1rem;
}

.frase, .titulo {
  text-align: center;
  width: 70vw;
  font-size: 2.8rem;
  color: black;
  text-shadow:
    -1px -1px 0px #ffffff,
    1px -1px 0px #ffffff,
    -1px 1px 0px #ffffff,
    1px 1px 0px #ffffff;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 2;
  }
}

.container-botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 70%;
  margin-top: 2rem;
}

.autor {
  font-size: 1.3rem;
  font-style: italic;
  width: 75%;
  text-align: right;
  color: black;
  letter-spacing: 0.1rem;
}

.botao-frase {
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  width: 9rem;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.botao-frase:active {
  transform: translateY(2px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 3px 5px -2px;
}

@media (max-width: 480px) {

  .frase, .titulo {
    font-size: 1.8rem;
  }

  .autor {
    font-size: 0.9rem;
  }

  .container-botoes {
    width: 85%;
  }

}
